<!DOCTYPE html>
<html lang = "en">
	    <head>
	    <title>Stats Page</title>
	    </head>
	    <body>
		    <h4>Number of Squirrels group by Age: {{agelist}}</h4>
		    <h4>Number of Squirrels group by furcolor: {{colorlist}}</h4>
		    <h4>Number of Squirrels group by climbing  status: {{climbinglist}}</h4>
		    <h4>Number of Squirrels group by running status: {{runninglist}}</h4>
		    <h4>Number of Squirrels group by chaseing status: {{chasinglist}}</h4>
		    
		    <a href="/sightings"><button type="button">all_sightings</button></a>
	    </body>
</html>


